body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header img {
  width: 150px;
  height: 150px;
  float: left;
  margin: 0;
}

.header header {
  text-align: left;
  font-size: xx-large;
  margin-top: 54px;
  float: left;
}

.topnav {
  background-color: #bb2424;
  overflow: hidden;
  padding-inline-start: 150px;
  width: 100%;
  margin: 0;
  clear: both;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 64px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #915656;
  color: white;
}

.header{
  overflow: hidden;
}

.header img {
  width: 150px;
  height: 150px;
  float: left;
}

.header header {
  text-align: left;
  font-size: xx-large;
  margin-top: 54px;
  float: left;
}

.homebody {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.homebody img {
  display: block;
  width: 98%;
  height: 500px;
  margin: 16px auto 0 auto;
}


.homeText {
  overflow: hidden;
  margin-left: 32px;
}

.homeText p {
  font-size: 18px;
}

footer {
  background-color: #bb2424;
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}